body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;  
    background: rgb(216, 216, 216); 
}

img{
    max-width: 100%;
    animation-name: inherit;
}

a{
    color: grey;
    font-size: 20px;
}


