body{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    display: block;
    max-width: 100%;    
}

.system{
    font-family: 'Quicksand', sans-serif;
}

.google-font{
    font-family: 'Bebas Neue', cursive;
}