html{
    scroll-behavior: smooth;
}

.index{
    background : rgb(0, 60, 255);
    gap: 12px;
    max-width: 1920px;
    margin: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
    color: rgb(255, 230, 0)
}


.bouton:hover {
    color: rgb(0, 60, 255);
    background-color: rgb(255, 230, 0);
    border-radius: 10px;
}

.vertical2:hover {
    color: rgb(0, 60, 255);
    background-color: rgb(255, 230, 0);
    border-radius: 10px;
}

@media (min-width:660px){
    .index{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width:1200px){
    .index{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}



.index2{
    
    color: rgb(255, 230, 0) ;
    gap: 12px;
    max-width: 1920px;
    margin: 10px;
}

@media (min-width:660px){
    .index2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

body{
    background :rgb(0, 60, 255);
    gap: 12px;
    max-width: 1920px;
    margin: 10px;
}



.header{
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.site-title{
    font-size:clamp(18px,5vw,72px);
    font-family: Arial, Helvetica, sans-serif;
    grid-column: span 2;
    margin: 0;
    color: rgb(255, 230, 0);
}

.subtitle{
    color: rgb(255, 230, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(15px,5vw,48px);
    text-align: right;
    margin: 0;

}

.info{
    color: rgb(255, 230, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    columns: 3/3;
    text-align: right; 
    align-self: center;
    font-size: clamp(10px, 3vw,20px);
    font-weight: bold;
    
}

.instagram{
    color: rgb(255, 230, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    grid-column: 3/3;
    font-size: clamp(10px, 3vw,20px);
    text-align: right;
    font-weight: bold;
}


.system{
    font-family: Arial, Helvetica, sans-serif;
    grid-column: span 1;
    font-size:clamp(14px,3vw,28px);
    color: rgb(255, 230, 0);
}

img{
    width: 100%;
    display: block;
    border-radius: 10px;
}



.horizontal{
    max-width: 100%;
    display: block;
    grid-column: span 2;
    grid-row: span 1;
}

.vertical{
    max-width: 100%;
    max-height: 100%;
    display: block;
    grid-row: span 3; 
    grid-column: span 1; 
}


.vertical2{
    max-width: 100%;
    max-height: 100%;
    display: block;
    grid-row: span 2; 
    grid-column: 2/3; 
}


.big{
    max-width: 100%;
    max-height: 100%;
    display: block;
    grid-column: 1/3;
    grid-row: 7/9;
}

.big2{
    max-width: 100%;
    max-height: 100%;
    display: block;
    grid-column: 1/3;
    grid-row: 11/13;
}


.div-image-parallax{
    height: 300px;
    max-width: 100%;
    grid-column: span 3;
}


.image-parallax{
    max-width: 100%;
    height: 100%;
    background-attachment: fixed !important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(jour1/img/09_Book_Mockup.jpg);
    grid-column: span 3;
}

.image-parallax2{
    max-width: 100%;
    height: 100%;
    background-attachment: fixed !important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(jour1/img/trav2.jpg);
    grid-column: span 3;
}

.image-parallax3{
    max-width: 100%;
    height: 100%;
    background-attachment: fixed !important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(jour1/img/affschuitenbanniere.jpg);
    grid-column: span 3;
}

.image-parallax4{
    max-width: 100%;
    height: 100%;
    background-attachment: fixed !important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(jour1/img/10_resultat\ copie2.jpg);
    grid-column: span 3;
}

figure{
    width:100%;
    position: relative;
    margin: auto;
}

.imgacc {
    filter: blur(0);
    border-radius: 10px;
}
  
figcaption {
  transition: 0s;
  opacity:0;
  text-align:center;
  position:absolute;
  bottom: 50%;
  left:0;
  right:0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 24px;
}
  
figure:hover figcaption {
  opacity:1;
  /*   transform:rotate(360deg); */
}


.imgacc:hover {
    filter: blur(25px);
    transition: all 0.5s;
}

.couleurtitre{
    -webkit-transition: all 1s;
    transition: all 1s;
    color: rgb(255, 230, 0);
    text-decoration: none;
    background-color:rgb(0, 60, 255);
}
.couleurtitre:hover {
    color: rgb(0, 60, 255);
    border-radius: 10px;
    background-color: rgb(255, 230, 0);
}


p{
    margin: 10px;
}


.infop{
    height: 1080px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(10px, 3vw,24px);
    line-height: 200%;
    grid-column: span 2;
    color: rgb(255, 230, 0);
}