html {
    scroll-behavior: smooth;
}

/* typo */

@font-face {
    font-family: 'Kafka Display';
    src: url(typo/Kafka\ Display.woff) format(woff);
    font-weight: normal;
}

/* img */

img {
    width: 100%;
}


img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .2s ease-in-out;
}



img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.vid{
    width: 100%;
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1%;
    z-index: 1;

}

/* textheader */

.logoAC {
    font-family: 'Kafka Display';
    font-size: 54px;
    color: white;
    text-decoration: none;
}

.nav {
    text-align: end;
    line-height: 50px;
}

.lien {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    place-content: center;
    margin-right: 5%;


}

/* body */

body {
    background-color: #ffffff;
    margin: 0px;

}

/* grilles */

.grille {
    display: block;
    padding: 5%;
}

@media (min-width:800px) {
    .grille {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 5%;
        gap: 5px;
    }
}

.grilleprojet {
    display: block;
    padding: 5%;
}

@media (min-width:800px) {
    .grilleprojet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 5%;
        gap: 5px;
        position: fixed;
    }
}
@media (min-width:1100px) {
    .grilleprojetbis {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding: 5%;
        gap: 5px;
    }
}

.bandprojettxt{
   padding-right: 5px;
}

@media (min-width:800px) {
    .bandprojet{
        overflow-y: scroll;
        scrollbar-color: rebeccapurple green;
        scrollbar-width: thin;
        height: 900px;
    }
}
@media (min-width:800px) {
    .bandprojetbis{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        overflow-y: scroll;
        scrollbar-color: rebeccapurple green;
        scrollbar-width: thin;
        height: 900px;
    }
}



.project {
    margin-bottom: 5px;

}

.double {
    grid-column: span 2;
}

/* text */

.description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.notes{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Kafka Display';
    font-size: 48px;
    font-weight: normal;
}

/* footer */
/* text */




/*test js */

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.acc {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: url('img/BG2.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: right;
    overflow-x: hidden;
    
   
}

.container-first {
    position: absolute;
    top: 30%;
    left: 5%;
}

.txtacc {
    font-weight: lighter;
    font-size: 110px;
    color: #f1f1f1;
    font-family: 'Kafka Display';
}
.txtacc span {
    position: relative;
}
.container-btns {
    position: relative;
    top: 50px;
}
.btn-first {
    border: 2px solid #f1f1f1;
    outline: none;
    background: transparent;
    font-size: 30px;
    padding: 20px;
    width: 300px;
    color: #f1f1f1;
    cursor: pointer;
}
.btn-first:nth-child(1){
    margin-right: 30px;
}
.btn-first:hover {
    transition: all 0.3s ease-in-out;
    background: #f1f1f1;
    color: #333;
}
.lignes {
    position: absolute;
    top: 6%;
    left: 5%;
}
.l1 {
    width: 250px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
}
.l2 {
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
}

.logo {
    position: absolute;
    right: 2.9%;
    top: 4%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.medias {
    list-style-type: none;
    position: absolute;
    right: 3.3%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bulle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    cursor: pointer;
    position: relative;
}

.logo-medias {
    width: 40px;
    height: 40px;
}

.contact{
    background: url('img/quartzbg.png');
    height: 100vh;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    background-position: right;

}

.contacttxt{
    color: black; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.52);
    padding: 20px;
    border-style: groove;
    border-color: #333;
    

}


.CV{
    text-decoration: underline;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.clignote {
    color:rgb(0, 0, 0);
    animation: clignote 2s linear infinite;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  @keyframes clignote {  
    50% { opacity: 0; }
  }

  .introbis{
      grid-column: span 2;
  }