html{
    scroll-behavior: smooth;
}

.index{
    background : linear-gradient(rgb(190, 190, 190),rgb(51, 51, 51));
    background-attachment:scroll;
    color: white ;
    gap: 12px;
    max-width: 1200px;
    margin: auto;
}

@media (min-width:660px){
    .index{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.header{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
}

.site-title{
    font-size:clamp(18px,5vw,72px);
    font-family: Arial, Helvetica, sans-serif;
}

.system{
    font-family: Arial, Helvetica, sans-serif;
    grid-column: 1/3;
    font-size:clamp(14px,3vw,28px);
}

img{
    width: 100%;
    display: block;
    height: auto;
}



.horizontal{
    max-width: 100%;
    display: block;
    grid-column: 1/3;;
}

.vertical{
    max-width: 100%;
    max-height: 100%;
    display: block;
    grid-row: 7/10;  
}


.vertical2{
    max-width: 100%;
    max-height: 100%;
    display: block;
    grid-row: 2/4; 
    grid-column: 2/3; 
}

.info{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    grid-column: span 2;
    grid-row: span 2;
}

.instagram{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    grid-column: span 2;
    grid-row: span 2;
}

.big{
    max-width: 100%;
    max-height: 100%;
    display: block;
    grid-column: 1/3;
    grid-row: 7/9;
}

.big2{
    max-width: 100%;
    max-height: 100%;
    display: block;
    grid-column: 1/3;
    grid-row: 11/13;
}


.div-image-parallax{
    height: 400px;
    max-width: 100%;
    grid-column: 1/3;
}


.image-parallax{
    max-width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(jour1/img/09_Book_Mockup.jpg);
}

.image-parallax2{
    max-width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(jour1/img/trav2.jpg);
}

.image-parallax3{
    max-width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(jour1/img/affschuitenbanniere.jpg);
}

.image-parallax4{
    max-width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(jour1/img/10_resultat\ copie2.jpg);
}
