html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgb(137, 131, 189), rgb(137,131,130));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.card{
    border-radius: 16px;
    width: 360px;
    height: 360px;
    background: url(https://imagizer.imageshack.com/img922/9752/qFUnXv.jpg);
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 50px rgb(0,0,0.85);
}

.card::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.92);
}

.card .img{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.card .img span{
    width: 25%;
    height: 100%;
    background: url(https://imagizer.imageshack.com/img922/9752/qFUnXv.jpg);
    transition: 0.5s;
}

.card .img span:nth-child(1){
    transition-delay: 0;
    background-position: 0;
}

.card .img span:nth-child(2){
    transition-delay: 0.1s;
    background-position: 33.33%;
}

.card .img span:nth-child(3){
    transition-delay: 0.2s;
    background-position: 66.66%;
}

.card .img span:nth-child(4){
    transition-delay: 0.3s;
    background-position: 100%;
}

.card:hover .img>span{
    transform: translateY(-100%);
}

.content{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.card:hover .content{
    transform: translateY(0%);
    transition: 1s;
    transition-delay: 0.1s;
}


a{
    color: white;
    text-decoration: none;
}
