html {
    scroll-behavior: smooth;
}

/* typo */

@font-face {
    font-family: 'Kafka Display';
    src: url(typo/Kafka\ Display.woff) format(woff);
    font-weight: normal;
}

/* img */

img {
    width: 100%;
}


img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .2s ease-in-out;
}



img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.vid{
    width: 100%;
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1%;
    z-index: 1;
}

/* textheader */

.logoAC {
    font-family: 'Kafka Display';
    font-size: 54px;
    color: white;
    text-decoration: none;
}

.nav {
    text-align: end;
    line-height: 50px;
}

.lien {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    place-content: center;
    margin-right: 5%;


}

/* body */

body {
    background-color: #ffffff;
    margin: 0px;

}

/* grilles */

.grille {
    display: block;
    padding: 5%;
}

@media (min-width:800px) {
    .grille {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 5%;
        gap: 5px;
    }
}

.grilleprojet {
    display: block;
    padding: 5%;
}

@media (min-width:800px) {
    .grilleprojet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 5%;
        gap: 5px;
        position: fixed;
    }
}

.bandprojettxt{
   padding-right: 5px;
}

@media (min-width:800px) {
    .bandprojet{
        overflow-y: scroll;
        scrollbar-color: rebeccapurple green;
        scrollbar-width: thin;
        height: 900px;
    }
}



.project {
    margin-bottom: 5px;

}

.double {
    grid-column: span 2;
}

/* text */

.description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.notes{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Kafka Display';
    font-size: 48px;
}

/* footer */
/* text */